*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/ext/a.out
/ext/liblinear-1.91/blas/blas.a
/ext/liblinear-1.91/blas/blas.h
/ext/liblinear-1.91/blas/blasp.h
/ext/liblinear-1.91/blas/daxpy.c
/ext/liblinear-1.91/blas/daxpy.o
/ext/liblinear-1.91/blas/ddot.c
/ext/liblinear-1.91/blas/ddot.o
/ext/liblinear-1.91/blas/dnrm2.c
/ext/liblinear-1.91/blas/dnrm2.o
/ext/liblinear-1.91/blas/dscal.c
/ext/liblinear-1.91/blas/dscal.o
/ext/liblinear-1.91/blas/Makefile
/ext/liblinear-1.91/COPYRIGHT
/ext/liblinear-1.91/heart_scale
/ext/liblinear-1.91/linear.cpp
/ext/liblinear-1.91/linear.def
/ext/liblinear-1.91/linear.h
/ext/liblinear-1.91/linear.o
/ext/liblinear-1.91/Makefile
/ext/liblinear-1.91/Makefile.win
/ext/liblinear-1.91/matlab/libsvmread.c
/ext/liblinear-1.91/matlab/libsvmwrite.c
/ext/liblinear-1.91/matlab/linear_model_matlab.c
/ext/liblinear-1.91/matlab/linear_model_matlab.h
/ext/liblinear-1.91/matlab/Makefile
/ext/liblinear-1.91/matlab/make.m
/ext/liblinear-1.91/matlab/predict.c
/ext/liblinear-1.91/matlab/README
/ext/liblinear-1.91/matlab/run.m
/ext/liblinear-1.91/matlab/train.c
/ext/liblinear-1.91/predict
/ext/liblinear-1.91/predict.c
/ext/liblinear-1.91/python/liblinear.py
/ext/liblinear-1.91/python/liblinearutil.py
/ext/liblinear-1.91/python/Makefile
/ext/liblinear-1.91/python/README
/ext/liblinear-1.91/README
/ext/liblinear-1.91/train
/ext/liblinear-1.91/train.c
/ext/liblinear-1.91/tron.cpp
/ext/liblinear-1.91/tron.h
/ext/liblinear-1.91/tron.o
/ext/liblinear-1.91/windows/liblinear.dll
/ext/liblinear-1.91/windows/libsvmread.mexw64
/ext/liblinear-1.91/windows/libsvmwrite.mexw64
/ext/liblinear-1.91/windows/predict.exe
/ext/liblinear-1.91/windows/predict.mexw64
/ext/liblinear-1.91/windows/train.exe
/ext/liblinear-1.91/windows/train.mexw64
/ext/linear_ext.o
/ext/linear_ext.so
/ext/Makefile
/ext/mkmf.log
/ext/test.o
/linear_science.sublime-project
/linear_science.sublime-workspace
/.rspec
